{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <select class="form-select mx-auto w-auto" name="symbol">
                <option disabled selected autofocus class="form-control mx-auto w-auto" id="place_holder" name="place_holder">Stock</option>
                {% for row in current_stocks %}
                <option class="form-control mx-auto w-auto" value="{{ row.stock_symbol }}">{{ row.stock_symbol }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Amount of Stocks" type="number" min="1">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
